@import url("font.css");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* common css starts*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
abbr,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: #000000;
  /* background-color: #090b06; */
  background-color: #000000;
  overflow: hidden;
  overflow-y: auto;
}
.chexbox,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
label,
li,
ol,
option,
p,
radiobutton,
select,
td,
textarea,
tr,
ul {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a,
button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: #444444;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
a:hover {
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
img,
svg {
  width: 100%;
  height: 100%;
}
:root {
  --body: "Inter", sans-serif;
  --Primary-color: #109efd;
  --secondary: #ffd60c;
  --heading-font: "educare", "Inter", sans-serif;
  --stylist-font: "Fraunces", serif;
}
@media (min-width: 1600px) {
  .my_xl_container {
    max-width: 1440px;
  }
}
/* common css end*/

/* banner css starts */
.banner_container {
  height: 920px;
  width: 100%;
  background: #444444;
  position: relative;
  overflow: hidden;
}
.video_wraper {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: #109efd; */
}
.video_wraper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.blur-layer {
  position: absolute;
  content: "";
  top: -50%;
  right: -30%;
  z-index: 5;
}
.content_wrapper {
  /* max-width: 1440px; */
  top: 170px;
  position: relative;
  margin: 0 auto;
  /* background: #109efd; */
  /* border: 1px solid #ffffff; */
  min-height: 400px;
  z-index: 5;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}
.banner_text {
  font-size: 92px;
  line-height: 0.8;
  font-family: var(--heading-font);
  font-weight: 500;
  letter-spacing: -5px;
  color: #ffffff;
  max-width: 750px;
  text-align: center;
}
/* .stylist_font {
  font-family: var(--stylist-font);
  font-weight: 300;
  font-style: normal;
}
.stylist_font_italic {
  font-family: var(--stylist-font);
  font-weight: 300;
  font-style: italic;
}
.yellow_text {
  color: var(--secondary);
} */

.banner_text span:nth-of-type(1) {
  color: var(--secondary);
}

.banner_text span:nth-of-type(2) {
  font-family: var(--stylist-font);
  font-weight: 300;
  font-style: italic;
}

.banner_text span:nth-of-type(3) {
  font-family: var(--stylist-font);
  font-weight: 300;
  font-style: normal;
}
.review_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}
.review_thumbs {
  max-width: 170px;
}
.review_thumbs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.review_box p {
  color: #fff;
  max-width: 240px;
}
.stars::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 6 Free";
  font-weight: 900; /* REQUIRED for solid icons */
  color: #f5c518;
  margin-left: 6px;
}
.secondary_button {
  font-family: var(--body);
  font-size: 17px;
  color: #000000;
  background: #ffffff;
  padding: 10px;
  min-width: 176px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  margin-top: 25px;
}
.first-head {
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* banner css ends */
.canva-sec {
  position: relative;
  margin-top: -300px;
  padding-bottom: 50px;
  z-index: 5;
}
.canva-container {
  /* max-width: 1440px; */
}
.canva_main {
  padding: 4px 4px 0px 4px;
  background: #ffffff30;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 34px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
}
.canva-image {
  width: 100%;
  max-width: 1440px;
  height: 631px;
}
.canva-image img {
  width: 100%;
  height: 100%;
}
.canva-overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 200px;
  bottom: 50px;
  left: 0;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 90%
  );
  z-index: 5;
}
.canva-sec-image {
  position: absolute;
  content: "";
  top: -200px;
  left: 50%;
  transform: translateX(-52%);
  z-index: -1;
  /* max-width: 1920px; */
}
.canva-sec-image {
  max-height: 820px;
  width: 100%;
  overflow: hidden;
}
.canva-sec-image img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
.canva-inner {
  background: #000000;
  border-radius: 30px;
  /* padding: 50px; */
  overflow: hidden;
  min-height: 600px;
}
.canva_header {
  background: #000000;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333;
}
.canva_logo_box {
  background: #222222;
  padding: 7px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  border-radius: 6px;
}
.canva_fav_icon {
  user-select: none;
  width: 24px;
  height: auto;
}
.canva_fav_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.canva_logo_box i {
  margin-top: 2px;
  font-size: 20px;
  color: #fff;
}
.canva_logo {
  width: 20%;
}
.canva_view_port {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.view_port_innerbase {
  width: 100%;
  max-width: 170px;
  border: 1px solid #333;
  background: #222222;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop_view {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 6px;
}
.icon_desktop {
  max-width: 20px;
  height: auto;
}
.desktop_size {
  width: 100%;
}
.desktop_size p {
  color: #eaeaea;
  text-align: center;
  font-size: 14px;
}
.view_port_innerbase .active {
  background: #000;
}
.review_thumb_box {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.review_thumb_2 {
  max-width: 58px;
  filter: grayscale();
}
.canva_content {
  position: relative;
  height: 650px;
  overflow: hidden;
}
#toggleBtn {
  cursor: pointer;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.canva_center {
  left: 0;
  right: 0;
  background: #020202;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 80px;
}
.canva_left {
  left: 0;
  width: 20%;
  background: #000000;
  z-index: 2;
  border-right: 1px solid #333;
}
.canva_right {
  right: 0;
  width: 20%;
  background: #e0e0e0;
  z-index: 2;
}
.canva_content.expanded .canva_left {
  transform: translateX(-100%);
  opacity: 0;
}
.canva_content.expanded .canva_right {
  transform: translateX(100%);
  opacity: 0;
}
.canva_left,
.canva_right {
  transform: translateX(0);
  opacity: 1;
}
.canva_left,
.canva_right {
  transform: translateX(0);
}
#toggleBtn i {
  transition: transform 0.3s ease;
  cursor: pointer;
}
#toggleBtn.rotated i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
#toggleBtn i {
  user-select: none;
  cursor: pointer;
}
.canva_left_content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.canva_left_content ul {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
}
.canva_left_content ul li {
  color: #fff;
}
.canva_left_content ul {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: column;
  gap: 2px;
}
.canva_left_content ul li {
  color: #a6a6a6;
  position: relative;
  /* display: block; */
  font-size: 14px;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px;
  padding-left: 34px;
  cursor: pointer;
}
.canva_left_content ul a {
  color: #a6a6a6;
  position: relative;
  /* display: block; */
  font-size: 14px;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px;
  padding-left: 34px;
  cursor: pointer;
}
.canva_left_content ul a::before {
  position: absolute;
  content: "";
  background: url(/assets/images/icon-box.svg) no-repeat center;
  top: 13.5px;
  left: 12px;
  width: 12px;
  height: 12px;
  background-size: contain;
}
.canva_left_content ul .active {
  background: var(--Primary-color);
  color: #fff;
}
.canva_left_content ul a:hover {
  background: var(--Primary-color);
  color: #fff;
  transition: 0.35s;
}
.portfolio_image {
  max-width: 720px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.portfolio_wrapper .owl-stage-outer .owl-stage {
  transition-timing-function: linear !important;
}
